@font-face{
	font-family: Maimun;
	src: url('fonts/teslics-document-cyr-normal_2.ttf');
}
/*@font-face {
    font-family: Maimun;
    font-style: normal;
    font-weight: 400;
    src: url(http://allfont.ru/cache/fonts/teslics-document-cyr-normal_a01682b1db21e69ff470a9f76d6575c5.ttf) format('truetype');
}*/
@font-face{
	font-family:dsdown;
	src:url('fonts/dsdown.ttf');
}
#wrapper{
	font-family:Maimun, dsdown, Helvetica, sans-serif;
	font-size:18px;
}
/* Header */

header{
	background-color:#FFCB3F;
	height:100%;
	display: flex;
	justify-content: space-between;
}

#logo{
	display: flex;
	justify-content: space-between;
	
}
header div a img{
    height:80px;
	margin:10px;
	display:inline-block;
}
header > div > .name{
	margin-top:10px;
}
header > div > div.name > a{
	text-decoration: none;
	width: 130px;
	height: 25px;
	background-color:#460700;
	color:#fff;
	font-size:0.6em;
	border-radius: 10px;
	border:none;
	padding: 4px 15px;
	font-family:Maimun, dsdown, Helvetica, sans-serif;
}
header > div > div.name > a:hover{
	background-color:#4AAD33;
}
header > div > div.name > p{
	text-transform:uppercase;
	line-height:17px;
	margin:0px;
	margin-top:10px;
}
header > nav{
	display:flex;
	justify-content: flex-end;
	margin-top:40px;
	width: 90%;
}
header > nav > ul {
	padding-bottom:5px;
	}
header nav ul li{
	display:inline-block;
	font-size:0.8em;
}
header > nav > ul > li > a{
	font-family:Maimun;
	color:#460700;
	background-color: #FFCB3F;
	text-decoration:none;
	text-transform:uppercase;
	margin:5px;
	padding:5px;
	line-height:2.2em;
}
header > nav > ul > li > a > span{
	font-size:1.5em;
	text-transform:none;
}

header > nav > ul > li a:hover{
	background-color: #F9AD1F;
	border-radius:15px;
	box-shadow: 0px 0px 4px #000;
	
}
header > nav > a > img{
	width:30px;
	margin: 0px 10px;
}
/* Main */
.main{
	width: 100%;
	min-height: 500px;
	background-size: cover;
}

/* Footer */

footer{
	background-color:#FFCB3F;
	display:flex;
	color:#460700;
}
footer ul > li a{
	font-size:14px;
	color:#460700;
	line-height:15px;
	list-style-type:none;
	text-decoration:none;
	margin:7px 0px;
	padding:3px;
}
footer ul.footer-list > li a:hover{
	background-color: #F9AD1F;
	border-radius:15px;
}
footer  > li{
	list-style-type:none;
	width:30%;
	margin: 15px 20px 0px 20px;
    padding-bottom:15px;	
}

footer  > li ul.social{
	margin:5px;
}
footer div > p{
	font-size:13px;
	font-family:Helvetica, sans-serif;
	width:100%;
}
#facebook{
	height: 40px;
    width: 40px;
	background: url("images/mini-social-icons.png") 0 0;
	display:inline-block;
	border: 2px solid grey;
	border-radius: 40px;
	margin-left:5px;
}
#google{
	height: 40px;
    width: 40px;
	background: url("images/mini-social-icons.png") -41px 0;
	display:inline-block;
	border: 2px solid grey;
	border-radius: 40px;
	margin-left:5px;
}
#twitter{
	height: 40px;
    width: 40px;
	background: url("images/mini-social-icons.png") -83px 0;
	display:inline-block;
	border: 2px solid grey;
	border-radius: 40px;
	margin-left:5px;
}
#facebook:hover{
	height: 40px;
    width: 40px;
	background: url("images/mini-social-icons.png") 0 40px;
}
#google:hover{
	height: 40px;
    width: 40px;
	background: url("images/mini-social-icons.png") -42px 40px;	
}
#twitter:hover{
	height: 40px;
    width: 40px;
	background: url("images/mini-social-icons.png") -85px 40px;	
}



@media all and (max-width: 960px){
	header > nav{
	margin-top:20px;
	width: 80%;
}
    
}
	
	
@media all and (max-width: 780px){

    header > nav > ul > li > a{
	margin:5px 0px;
	}
	
	footer  > li ul.social{
	margin:5px 0px;
    }
    
    #facebook,#google,#twitter{
		margin-left:0px;
	} 
}


@media all and (max-width: 600px){
	
	header{
	display: block;
}
    #logo{
	display:block;
	width: 100%;
	text-align:center;
	margin:0px auto;
	padding-bottom:10px;
}

	header > nav{
		text-align:center;
		display:block;
		margin:10px auto;
		
	}
	
	header div > a{
		width:100%;
		display:block;
	}
	
	header > div > .name {
		width:100%;
		margin:0 auto;
		display:block;
}
    header > div > div.name > p{
		display:block;
		width:45%;
		margin:0 auto;
	}
	header > nav > a > img{
		width:20%;
		margin:0 auto;
	}

	header > div > div.name > a {
		margin: 0 auto;
	}
	
    footer {
        display:block;
	    width:100%;
		margin:0px;
}
    footer  > li{
		padding-top:15px;
		margin:0 auto;
		width:100%;
		text-align:center;
		display:block;
	}
	
}

